<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Stations map</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>
  <div id="map" style="height:100vh;"  ></div>
</ion-content>
