<ion-header>
  <ion-toolbar>
    <ion-title>Select stations</ion-title>
    <ion-button slot="end" (click)="onMap()">
      <ion-icon slot="icon-only" name="map"></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="onClick()">
      <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
      Next
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="error" >
      <ion-label class="ion-color-danger">You didn't select two stations</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>From</ion-label>
      <ionic-selectable [(ngModel)]="stationFrom" [items]="stations" itemValueField="stationShortCode"
        itemTextField="stationName" [canSearch]="true" required>
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label>To</ion-label>
      <ionic-selectable [(ngModel)]="stationTo" [items]="stations" itemValueField="stationShortCode"
        itemTextField="stationName" [canSearch]="true" required>
      </ionic-selectable>
    </ion-item>
    <!-- <ion-item>
      <ion-datetime displayFormat="DD/MM/YY" placeholder="Select Date" [(ngModel)]="date"></ion-datetime>
    </ion-item> -->
  </ion-list>
</ion-content>