<ion-header>
  <ion-toolbar>
    <ion-title>
      Trains from {{fromStation.stationShortCode}} to {{toStation.stationShortCode}}
    </ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="noTrains"><ion-icon name="train" ></ion-icon>Sorry, no trains for this route</ion-item>
    <ion-item *ngFor="let item of items" routerLink="/traindetails/{{item.trainNumber}}">
      <img src="../../assets/icon/train.svg" width="30px" hspace='10px'>   
        Train {{item.trainNumber}} at
      {{item.timeTableRows[0].scheduledTime.toLocaleString('ru-RU', {hour:'numeric',minute:'numeric'})}}

    </ion-item>
  </ion-list>
</ion-content>