<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Train {{trainNumber}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
<p>Departure at {{train.timeTableRows[0].scheduledTime.toLocaleString({hour:"numeric",minute:"numeric",day:"numeric",month:"long"})}}</p>
<p>Arrival at {{train.timeTableRows[train.timeTableRows.length - 1].scheduledTime.toLocaleString({hour:"numeric",minute:"numeric",day:"numeric",month:"long"})}}</p>
</div>  
<ion-list>
    <ion-item *ngFor="let stop of train.timeTableRows" [ngSwitch]="stop.type">
      <ng-template ngSwitchCase="DEPARTURE">
        <ion-label><img src="../../assets/icon/station.png" width="16px" hspace='10px' /> Departure from
          {{stop.stationShortCode}} at {{stop.scheduledTime.toLocaleString('ru-RU', {hour:'numeric',minute:'numeric'})}}
        </ion-label>
      </ng-template>
      <ng-template ngSwitchCase="ARRIVAL">
        <ion-label><img src="../../assets/icon/station.png" width="16px" hspace='10px' /> Arrives to
          {{stop.stationShortCode}} at {{stop.scheduledTime.toLocaleString('ru-RU', {hour:'numeric',minute:'numeric'})}}
        </ion-label>
      </ng-template>
    </ion-item>

  </ion-list>
</ion-content>